<div class="container">
    <div class="header_container">
        <header>
            <h1>Projects</h1>
        </header>
        <hr>
    </div>
    <div class="project">
        <div class="description">
            <a href="../assets/collegeParkArrests.html"><Strong>University of Maryland: Fearless Leaders or Fearless Criminals?</Strong></a>
            <p class="authors">Jessica Hatfield and Nathan Ostrander<br/>Fall 2017</p>
            <p>The purpose of this project is to assess arrest data from the <a href="http://www.umpd.umd.edu/">University of Maryland Police Department</a> and identify patterns over time. We chose to use UMD arrest data because, as students at the University of Maryland, we think that it is important to understand crime on campus.</p>
        </div>
        <img height="300" src="../assets/collegeParkArrestsGraph.png">
    </div>
</div>
