div.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

Strong {
    font-size: 15pt;
}

div.description {
    margin-top: 20px;
    flex: 1 1 100px; /* or 1 0 100px, and no more need in min-width at all */
}

p {
    max-width: 500px;
}

p.authors {
    font-size: 10pt;
}

header > h1{
    display: inline-block;
}

img {
    border-radius: 25px;
    min-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    flex: 1 1;
}
