/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-amber, 300);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-weight: normal;
    margin: 0px 0px 100px 0px;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: mat-color($primary, lighter);
  margin-top: 50px;
}

.mat-drawer.mat-drawer-over {
    background-color: mat-color($primary, lighter);
    padding: 2% 1% 0% 1%;
}

.mat-toolbar {
  position: fixed;
  font-size: 10pt;
  max-height: 30px;
  min-height: 30px;
  padding-right: 5%;
  z-index: 2;
}

.mat-toolbar-row {
    justify-content: space-between;
}

.main_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.task, .skill {
    margin-top: .5em;
}

div.backdrop {
    width: 100%; height: 100%;
    background: url("assets/rainbowMountain.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.welcome {
    border-radius: 25px;
    max-height: 300px;
    max-width: 500px;
    min-width: 320px;
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    position: absolute;
    opacity: 0.7;
    background-color: mat-color($primary, lighter);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
}

div.selections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px
}

span.welcome_text {
    display: flex;
    font-size:15pt;
    margin-top: 30px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
}

span.learn_text {
    display: flex;
    font-size:12pt;
    margin-top: 60px;
}

.header_container {
    padding-top: 2em;
    padding-bottom: 2em;
}

hr {
    border-color: mat-color($primary);
}

.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

ul,li {
    list-style-position:inside;
    padding: 0;
    list-style-type: square;
    text-indent:-1.5em;
}

.title > h3{
    display: inline-block;
}

.date {
    font-size: 8pt;
    padding-left: 10pt;
}
