<div class="backdrop">
    <div class="welcome">
        <span class="welcome_text">Welcome to Nathan Ostrander's Webpage!</span>
        <span class="learn_text">Learn more about me:</span>
        <div class="selections">
            <button mat-raised-button routerLink="" (click)="snav.toggle()" routerLinkActive="active">Home</button>
            <button mat-raised-button routerLink="resume" (click)="snav.toggle()" routerLinkActive="active">Resume</button>
            <button mat-raised-button routerLink="" (click)="snav.toggle()" routerLinkActive="active">Projects</button>
        </div>
    <div>
</div>
